.hompage__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homepage__nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  background-color: #182039;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.homepage__logo {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 35rem;
  height: 10rem;
  object-fit: cover;
}

.homepage__section {
  width: 80%;
  background-color: #182039;
  margin: 10px 0;
  border-radius: 4px;
}

.homepage__section ul {
  padding-inline-start: 0px;
}

.homepage__table-header {
  position: sticky;
  top: 0;
  background-color: #b37382;
}

.homepage__table-header th {
  color: #f4f4f7;
  font-weight: bold;
  padding: 10px;
}

.homepage__table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  color: #f4f4f7;
  font-weight: bold;
  text-align: center;
  margin: auto;
  padding: 10px;
  border-radius: 4px;
}

.homepage__table-data {
  background-color: #182039;
  border-radius: 4px;
  padding: 10px;
}

.homepage__pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 10px 0;
  background-color: #182039;
  color: #f4f4f7;
  border-radius: 4px;
}

.homepage__pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  font-size: 1rem;
  gap: 1rem;
  cursor: pointer;
}

.homepage__pagination li {
  padding: 10px;
}

.homepage__nav button {
  background-color: transparent;
  border: 3px solid #b37382;
  border-radius: 4px;
  color: #f4f4f7;
  cursor: pointer;
  font-size: 0.8rem;
  padding: 10px;
  font-weight: bold;
  width: 50%;
  margin: auto;
}

.active {
  background-color: #b37382;
  color: #f4f4f7;
  border-radius: 4px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #182039;
  color: #f4f4f7;
  font-size: 2rem;
}
